---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../queries/Post';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map(
    ({
      slug,
      title,
      body,
      imagesCollection: { items: images },
      color,
      backgroundColor,
    }) => {
      return {
        params: { slug },
        props: { title, body, images, color, backgroundColor },
      };
    }
  );
}

const { title, body, images, color, backgroundColor } = Astro.props;
---

<Layout title={title} color={color} backgroundColor={backgroundColor} nav>
  <main>
    <h1 class='heading single-page-heading'>
      {title}
    </h1>
    <div
      class='markdown single-page-body'
      set:html={documentToHtmlString(body.json)}
    >
    </div>
    <div class='post-images-container w-full flex flex-wrap'>
      {
        images.map(({ url, title, contentType }) => (
          <>
            {contentType.includes('image') ? (
              <div class='post-image w-full lg:w-1/2'>
                <img class='w-full h-full object-cover' src={url} alt={title} />
              </div>
            ) : contentType.includes('video') ? (
              <div class='post-image w-full lg:w-1/2'>
                <video class='w-full' src={url} controls />
              </div>
            ) : null}
          </>
        ))
      }
    </div>
  </main>
</Layout>
