---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../queries/Post';
import { documentToHtmlString } from '@contentful/rich-text-html-renderer';

export async function getStaticPaths() {
  const posts = await getPosts();

  return posts.map(
    ({
      slug,
      title,
      body,
      imagesCollection: { items: images },
      color,
      backgroundColor,
    }) => {
      return {
        params: { slug },
        props: { title, body, images, color, backgroundColor },
      };
    }
  );
}

const { title, body, images, color, backgroundColor } = Astro.props;
---

<Layout title={title} color={color} backgroundColor={backgroundColor} nav>
  <main>
    <h1 class='heading single-page-heading'>
      {title}
    </h1>
    <div class='px-4 pb-8 italic text-xl md:text-2xl xl:text-3xl max-w-3xl'>
      <div set:html={documentToHtmlString(body.json)}></div>
    </div>
    <div class='w-full flex flex-wrap px-2'>
      {
        images.map(({ url, title }) => (
          <img class='w-full p-2 lg:w-1/2' src={url} alt={title} />
        ))
      }
    </div>
  </main>
</Layout>
